$card-img-height: 230px;
$card-act-height: 50px;

// CARD BASE

.card {
  border-radius: $border-radius;
  background-color: #FFFFFF;
  overflow: hidden;

  &-stacked {
    margin-bottom: $grid-spacer;
  }

  &-header {
    height: $navbar-width;
    background-color: $brand-pri;
    line-height: $navbar-width;
    color: $font-light;
  }

}

$card-img-height-h: 150px;
$card-act-height-h: 50px;

.card-horizontal {

  .card-img, .card-info {
    float: left;
  }

  .card-img-hover {
    .card-img-top {
      width: 100%;
      height: calc(#{$card-img-height-h} - #{$card-act-height-h});
      line-height: calc(#{$card-img-height-h} - 60%);
      text-align: center;
    }

    .card-img-act {
      width: 100%;
      list-style: none;

      &-item {
        display: inline-block;
        float: left;
        @extend .width-responsive;
      }

      &-link {
        line-height: $card-act-height;
        text-align: center;
      }
    }
  }
  .card-img {
    width: $card-img-height-h;
    height: $card-img-height-h;
  }



  .card-info {
    width: calc(100% - #{$card-img-height-h});
    padding: .75rem;
  }

}

// CARD IMAGE

.card-img {
  height: $card-img-height;
  width: 100%;
  background-position: center;
  background-size: cover;

}

// CARD IMAGE HOVER

.card-img-hover {
  height: 100%;
  width: 100%;
  color: $font-light;
  background-color: rgba($brand-pri, .95);
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  a:hover {
    color: $brand-focus;
  }

  .card-img-top {
    width: 100%;
    height: calc(#{$card-img-height} - #{$card-act-height});
    line-height: calc(#{$card-img-height} - 60%);
    text-align: center;
  }

  .card-img-act {
    width: 100%;
    list-style: none;

    &-item {
      display: inline-block;
      float: left;
      @extend .width-responsive;
    }

    &-link {
      line-height: $card-act-height;
      text-align: center;
    }

  }
}

// CARD INFO
.card-info {
  padding: $spacer;

  .card-title:hover, .card-artist:hover {
    color: $brand-focus;
  }

  .card-title {
    font-size: 1.1rem;
    padding-bottom: .15rem;
  }

  .card-artist {
    font-size: 1rem;
    padding-bottom: .15rem;
  }
}

// CARD TAGS
.card-tags {
  margin: 0;
  padding: 0;

  .card-tag-item {
    display: inline-block;

    & + .card-tag-item {
      margin-left: .25rem;
    }
  }

  .card-tag-link {
    font-size: .75rem;
    padding: .2rem .3rem;
    border-radius: $border-radius;
    color: $font-light;
    text-transform: capitalize;

    &:hover {
      background-color: $brand-focus;
    }

  }
}

// CARD WEIGHTS
.card-weights {
  height: 5px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;

  .card-weight {
    float: left;
    display: inline-block;
    height: 5px;
  }
}

.card-alert {
  .card-title {
    margin-bottom: .5rem;
  }

  .card-link {
    margin-top: .75rem;
    display: inline-block;
    padding: .5rem 1rem;
    background-color: $brand-focus;
    color: $font-light;
    font-size: .9rem;
    border-radius: $border-radius;
  }
}

.card-ranking {
  background-color: $body-bg;
  text-align: center;
  color: darken($body-bg, 30%);
  height: 50px;
  line-height: 50px;
  border-radius: $border-radius;
  width: 100%;
  display: inline-block;
  float: left;
  margin-bottom: .5rem;
}
