* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color .45s, height .45s, width .45s, left .45s, right .45s, color .45s, margin .45s, opacity .45s, padding .45s;
}

html {
  font-size: $font-size-base;
}

.is-last {
  padding-bottom: calc(#{$navbar-width} - #{$grid-spacer})
}

.container-inner {
  min-height: 100vh;
}

.p-l-1 {
  padding-left: 1rem;
}

.has-sidenav {
  padding-left: calc(#{$sidenav-width});

  @media (max-width: 576px) {
    padding-left: 0;
  }
}

.is-hidden {
  display: none;
}

body {
  background-color: $body-bg;

  .container-main {
    padding: $grid-spacer calc(#{$grid-spacer} / 2) 0 calc(#{$navbar-width} + (#{$grid-spacer} / 2));

    &.has-playlist {
      padding-right: calc(#{$navbar-width} + (#{$grid-spacer} / 2));
    }

  }

  .row {
    margin: 0;
    min-width: 100%;

    [class*="col-"] {
      padding: 0 .75rem;
    }
  }
}

.d-block {
  display: block;
  width: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  display: block;
}

.width-responsive {
  /* one item */
  &:nth-child(1):nth-last-child(1) {
    width: 100%;
  }

  /* two items */
  &:nth-child(1):nth-last-child(2),
  &:nth-child(2):nth-last-child(1) {
    width: 50%;
  }

  /* three items */
  &:nth-child(1):nth-last-child(3),
  &:nth-child(2):nth-last-child(2),
  &:nth-child(3):nth-last-child(1) {
    width: 33.3333%;
  }

  /* four items */
  &:nth-child(1):nth-last-child(4),
  &:nth-child(2):nth-last-child(3),
  &:nth-child(3):nth-last-child(2),
  &:nth-child(4):nth-last-child(1) {
    width: 25%;
  }
}

.hidden-sm-down {

  display: block !important;
  @media (max-width: 576px) {
    display: none !important;
  }

}

.hidden-sm-up {
  display: none !important;
  @media (max-width: 576px) {
    display: block !important;
  }

}

