.navbar {
  margin: 0;
  position: fixed;
  height: 100vh;
  width: $navbar-width;
  background-color: $brand-pri;
  z-index: 1000;

  .navbar-item {

    .toggle {
      display: none;
    }

    &:hover {
      background-color: $brand-pri-dark;
    }

    &.is-searching {
      background-color: $brand-focus;
    }

    &.active {
      background-color: $brand-pri-light;

      .base {
        display: none;
      }

      .toggle {
        display: block;
      }
    }
  }

  &-link {
    height: $navbar-width;
    width: $navbar-width;
    line-height: $navbar-width;
    text-align: center;
    color: $font-light;

    &.is-searching {
      background-color: $brand-pri;
    }
  }
}
