.sidenav {
  position: fixed;
  width: $sidenav-width;
  height: 100vh;
  left: calc((#{-$sidenav-width} - #{-$navbar-width}));
  top: 0;
  background-color: $brand-pri-light;
  padding-bottom: calc((#{$grid-spacer} / 2) + #{$navbar-width});
  overflow: hidden;
  z-index: 999;

  &.is-active {
    left: $navbar-width;
  }

  .genre-list {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: inline-block;

    .genre-checkbox-item {
      padding: .5rem .5rem;
      margin-bottom: .5rem;
      border-radius: $border-radius;
      cursor: pointer;

      input, p {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        margin-bottom: 3px;
      }

      p {
        color: $font-light;
        font-size: .9rem;
        padding-left: .5rem
      }

    }

  }
}

