body {
  font-family: $font-family-pri;
  font-weight: $font-weight-base;
  color: $font-pri;
}

h1, h2, h3, h4, h5, p, a {
  line-height: 1;
  font-weight: $font-weight-base;
}

a {
  text-decoration: none;
}

.is-truncated {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.is-disabled {
  color: #a9a9a9;
  cursor: not-allowed;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: .9rem;
}

[class*="electro"] {
  background-color: #726b99 ;
}

[class*="house"] {
  background-color: #5877c4 ;
}

[class*="dubstep"] {
  background-color: #a275b5 ;
}

[class*="techno"] {
  background-color: #3c5690 ;
}

[class*="bass"] {
  background-color: #2f3e46 ;
}

[class*="hipHop"] {
  background-color: #506a78 ;
}

[class*="pop"] {
  background-color: #9b59b6 ;
}

[class*="indie"] {
  background-color: #d39976 ;
}

[class*="rock"] {
  background-color: #a37144 ;
}

[class*="future"] {
  background-color: #16a085 ;
}

[class*="beats"] {
    background-color: #2980b9 ;
}

[class*="dnb"] {
  background-color: #f39c12 ;
}

[class*="trap"] {
  background-color: #27ae60 ;
}

[class*="funk"] {
  background-color: #3498db ;
}

