body {
  font-family: $font-family-pri;
  font-weight: $font-weight-base;
  color: $font-pri;
}

h1, h2, h3, h4, h5, p, a {
  line-height: 1;
  font-weight: $font-weight-base;
}

a {
  text-decoration: none;
}

.is-truncated {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.is-disabled {
  color: #a9a9a9;
  cursor: not-allowed;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: .9rem;
}




[class*="pop"] {
  background-color: #9b59b6 ;
}

[class*="rnb"] {
  background-color: #8359B6 ;
}

[class*="hipHop"] {
  background-color: #5E59B6 ;
}



[class*="house"] {
  background-color: #2980b9 ;
}

[class*="electro"] {
  background-color: #5877c4 ;
}

[class*="techno"] {
  background-color: #3c569a ;
}



[class*="dubstep"] {
  background-color: #16a085;
}

[class*="future"] {
  background-color: #449d87 ;
}

[class*="trap"] {
  background-color: darken(#108770, 5%);
}

[class*="dnb"] {
  background-color: #2f3e46 ;
}
[class*="beats"] {
  background-color: #506a78 ;
}

[class*="ambient"] {
  background-color: #7f8c8d ;
}

[class*="bass"] {
  background-color: #6C7778 ;
}

[class*="tropical"] {
  background-color: #f1c40f ;
}

[class*="funk"] {
  background-color: #ED9B0E ;
}

[class*="indie"] {
  background-color: #d39976 ;
}

[class*="rock"] {
  background-color: #a37144 ;
}









