<footer [class.has-playlist]="playlist_vis" [class.has-sidenav]="sidenav_vis">
  <div class="btn-group">
    <a href="https://www.facebook.com/staplesounds" target="_blank"><i class="fa fa-facebook-square fa-fw" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/staplesounds" target="_blank"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
    <a href="https://www.soundcloud.com/staplesounds" target="_blank"><i class="fa fa-soundcloud fa-fw" aria-hidden="true"></i></a>
  </div>
  <a href="https://www.facebook.com/staplesounds" target="_blank" class="btn-footer">
    Contact Us
  </a>
</footer>
